<div>
<ul>
	<dl>
		<dt>
		- Stony Brook University, <small><i>Class of 2011</i></small>
		</dt><br />
		<dd><big>B.S. Degree</big> in <small><i>Information System</i> </small>& <small><i>Technological System Management</i></small></p>
			<tt>◊ Dean’s List from Fall 2007 to Fall 2009 <br />
				◊ Received a National Smart Grant from Fall 2009 to Fall 2011</tt>
		</dd>
	</dl><br /><hr /><br />
	<dl>
		<dt>
		- Lower East Side Prep. High School, <small><i>Class of 2007</i></small>
		</dt><br />
		<dd><tt>◊ GPA:3.8</tt><br />
			<tt>◊ Dean's List, Fall 2005, Spring and Fall 2006, and Spring 2007</tt>
		</dd>
	</dl>
</ul>
</div>