<div id="education">
	<div class="title">State University of New York at Stony Brook</div>
	<span class="details">
		Stony Brook, NY<br>
		<ul>
			<li>B.S degree in <strong>Information System</strong> & B.S. degree in <strong>Technological System Management</strong></li>
			<li>Dean's list from Fall 2007 to Fall 2009</li>
			<li>Graduated in May 2011, GPA 3.3</li>
		</ul><br>
	</span>
	<div class="title">Lower East Side Preparatory High School</div>
	<span class="details">
		New York, NY<br>
		<ul>
			<li>Dean's list from Fall 2005 to Spring 2007</li>
			<li>Graduated in May 2007, GPA 3.8</li>
		</ul>
	</span>
</div>