<div>
<ul>
	<dl>
		<dt>
		- Ruby on Rails Apprentice, <small><i>about 1 year</i></small>
		</dt><br />
			<dd>
				<a href="http://github.com/vinc386">My Github: </a><br />
				<tt>It serves as my RoR sandbox, therefore some applications you see there may not be well-built or even completed</tt>
			</dd><br />
			<dd>
				<a href="http://rubrik.heroku.com/users/login">Rubrik: </a><br />
				<tt>A e-Learning platform that provides easy class enrollment, assignment and exam distribution, and academic record handling</tt>
			</dd><br />
			<dd>
				<a href="http://www.visitvincent.com">VisitVincent.com: </a><br />
				<tt>My personal website which is also built using RoR </tt>
			</dd>
			<br />
			<hr />
			<br />
		<dt>
		- Junior Project Coordinator, <small><i>about 1 year</i></small>
		</dt>
		<br />
			<dd>
				<tt>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
					</tt>
			</dd>
			<br />
			<hr />
			<br />
		<dt>
		- Amateur Digital Photographer, <small><i>for 2+ year</i></small>	
		</dt>
		<br />
			<dd>
				<tt>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
					</tt>
			</dd>
		<br />
		<dd>
			<tt>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				</tt>
		</dd>
	</dl>
</ul>
</div>

