<div id="contact_info">
	<div class="title">Contact</div>
	<span>
		<strong>Location:</strong> <a href="http://g.co/maps/djngk" target="_blank">Brooklyn, NY</a><br />
		<strong>Email:</strong> <a href="mailto:yusyang686@gmail.com">yusyang686@gmail.com</a><br />
		<strong>Tel:</strong> 347.985.0619 <br />
		<strong>Github:</strong> <a href="http://www.github.com/vinc386" target="_blank">vinc386</a><br>
	</span>
</div>
