<div id="contact_info">
	<div class="title">Contact</div>
	<span>
		<strong>LOCATION:</strong> <a href="http://g.co/maps/djngk" target="_blank">Brooklyn, NY</a><br />
		<strong>EMAIL:</strong> <a href="mailto:yusyang686@gmail.com">yusyang686@gmail.com</a><br />
		<strong>TEL:</strong> 347.985.0619 <br />
		<strong>GITHUB:</strong> <a href="http://www.github.com/vinc386" target="_blank">vinc386</a><br>
	</span>
</div>
