<div id="copyright">
	Copyright &copy; <%= link_to 'Vincent Yang', 'http://www.visitvincent.com'%> 2011-2012 power by  <a href="http://rubyonrails.org/" target="_blank">Ruby on Rails</a> and <a href="http://www.heroku.com/" target="_blank">Heroku</a>.
</div>