<div id="skills">
	<div class="title">Skills</div>
	<span>
		<strong>LANGUAGES</strong>: Ruby on Rails, HTML, CSS, JavaScript, jQuery, SQL(sqLite, mySQL, MS Access), Java <br/>
		<strong>SOFTWARE</strong>: Adobe CS5, MS Office, MS Projects, <a href="http://www.github.com/vinc386" target="_blank">Github/git</a><br/>
		<strong>OS</strong>: MS Windows, Mac OSX, Ubuntu
	</span>
</div>